<ion-header>
  <ion-toolbar [color]="env.colorTheme === 'black'? 'black' : 'dark'">
    <ion-buttons slot="start"><ion-back-button text="" defaultHref="tabs/setting"></ion-back-button></ion-buttons>
    <ion-title>{{ 'SCAN_FEEDBACK' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="qrwerk-settings-page feedback-settings-page">
  <section class="qrwerk-settings-section">
    <ion-list-header>
      <ion-label class="qrwerk-section-title">{{ 'VIBRATION' | translate }}</ion-label>
      <ion-button class="section-info-button" fill="clear" (click)="showInfo('VIBRATION', 'MSG.VIBRATION_EXPLAIN')"
        [attr.aria-label]="'MORE_INFO' | translate">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-list class="qrwerk-settings-list">
      <ion-item class="qrwerk-settings-item compact-select-row" lines="none">
        <ion-icon slot="start" color="primary" name="phone-portrait-outline"></ion-icon>
        <ion-select interface="action-sheet" [cancelText]="'CANCEL' | translate"
          [label]="'VIBRATION' | translate" label-placement="stacked"
          [(ngModel)]="env.vibration" (ionChange)="saveVibration()">
          <ion-select-option value="on">{{ 'HAPTIC_AND_SCAN_FEEDBACK' | translate }}</ion-select-option>
          <ion-select-option value="on-haptic">{{ 'HAPTIC_FEEDBACK_ONLY' | translate }}</ion-select-option>
          <ion-select-option value="on-scanned">{{ 'SCAN_VIBRATION_ONLY' | translate }}</ion-select-option>
          <ion-select-option value="off">{{ 'OFF' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </section>

  <section class="qrwerk-settings-section">
    <ion-list-header>
      <ion-label class="qrwerk-section-title">{{ 'SCAN_SOUND' | translate }}</ion-label>
      <ion-button class="section-info-button" fill="clear" (click)="showInfo('SCAN_SOUND', 'SCAN_SOUND_INFO')"
        [attr.aria-label]="'MORE_INFO' | translate">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-list class="qrwerk-settings-list">
      <ion-item class="qrwerk-settings-item compact-select-row" lines="none">
        <ion-icon slot="start" color="primary" name="volume-high-outline"></ion-icon>
        <ion-select interface="action-sheet" [cancelText]="'CANCEL' | translate"
          [label]="'SCAN_SOUND' | translate" label-placement="stacked"
          [(ngModel)]="env.scanSound" (ionChange)="setScanSound(env.scanSound)">
          <ion-select-option *ngFor="let sound of scanSounds" [value]="sound.value">
            {{ sound.label | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </section>

  <section *ngIf="env.scanSound !== 'off'" class="qrwerk-settings-section sound-controls-section">
    <ion-list-header><ion-label class="qrwerk-section-title">{{ 'SCAN_SOUND_VOLUME' | translate }}</ion-label></ion-list-header>
    <div class="volume-control">
      <div class="volume-label"><span>{{ 'SCAN_SOUND_VOLUME' | translate }}</span><span>{{ env.scanSoundVolume }} %</span></div>
      <ion-range [(ngModel)]="env.scanSoundVolume" min="0" max="100" step="5"
        (ionChange)="saveScanSoundVolume()" (ionKnobMoveEnd)="previewScanSound()">
        <ion-icon slot="start" name="volume-low-outline"></ion-icon>
        <ion-icon slot="end" name="volume-high-outline"></ion-icon>
      </ion-range>
      <ion-button expand="block" fill="outline" (click)="previewScanSound()">
        <ion-icon slot="start" name="volume-high-outline"></ion-icon>{{ 'TEST_SOUND' | translate }}
      </ion-button>
    </div>
  </section>
</ion-content>
