<ion-header>
  <ion-toolbar [color]="env.colorTheme === 'black'? 'black' : 'dark'">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/setting">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'QR_CODE_STYLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<div class="top-qr-preview">
  <ion-accordion-group value="preview">
    <ion-accordion value="preview">
      <ion-item [ngClass]="isAndroid? ['ion-no-padding', 'ion-margin-end'] : 'ion-no-padding'" lines="none"
        slot="header" style="--ripple-color: transparent;">
        <ion-list-header class="ion-padding-start ion-margin-start align-items-center">
          <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'"> {{ 'PREVIEW' | translate }}</ion-text>

        </ion-list-header>
      </ion-item>
      <div class="d-flex align-items-center justify-content-top flex-column ion-padding-bottom" slot="content">
        <ion-row class="ion-padding-vertical">
          <ion-col class="ion-text-center" style="max-width: 100% !important;">
            <div class="qr-frame" [style.padding.px]="env.qrCodeFrameWidth" [style.background]="qrFrameColor">
              <qrcode [elementType]="qrElementType" [qrdata]="qrCodeContent" [width]="defaultWidth"
                [errorCorrectionLevel]="errorCorrectionLevel" [colorDark]="qrColorDark" [colorLight]="qrColorLight"
                [margin]="env.qrCodeMargin" #qrcode>
              </qrcode>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'">
              {{ qrCodeContent }}
            </ion-text>
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>

<ion-content class="qrwerk-standard-page">

  <div class="ion-padding-bottom">
    <ion-accordion-group>
      <ion-accordion toggle-icon="information-circle-outline" class="info-accordion">
        <ion-item [ngClass]="isAndroid? ['ion-no-padding', 'ion-margin-end'] : 'ion-no-padding'" lines="none"
          slot="header" style="--ripple-color: transparent;">
          <ion-list-header class="ion-padding-start ion-margin-start align-items-center">
            <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'"> {{ 'ERROR_CORRECTION_LEVEL' | translate
              }}</ion-text>

          </ion-list-header>
        </ion-item>
        <ion-item class="ion-no-padding" lines="none" slot="content">
          <ion-label class="ion-padding-start">
            <p>
              <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'" style="white-space: normal;">
                <div [innerHTML]="'MSG.ERROR_CORRECTION_LEVEL_EXPLAIN' | translate">
                </div>
              </ion-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-accordion>
    </ion-accordion-group>
    <div class="correction-picker ion-padding-horizontal">
      <ion-segment [(ngModel)]="env.errorCorrectionLevel" (ionChange)="saveErrorCorrectionLevel()" mode="ios">
        <ion-segment-button value="L"><ion-label>L</ion-label></ion-segment-button>
        <ion-segment-button value="M"><ion-label>M</ion-label></ion-segment-button>
        <ion-segment-button value="Q"><ion-label>Q</ion-label></ion-segment-button>
        <ion-segment-button value="H"><ion-label>H</ion-label></ion-segment-button>
      </ion-segment>
    </div>
  </div>

  <div class="ion-padding-bottom">
    <ion-list-header class="ion-margin-start ion-padding-horizontal" mode="md">
      <div class="d-flex justify-content-between align-items-center ion-margin-end ion-padding-end"
        style="width: 100%;">
        <span>
          <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'"> {{ 'COLOR' | translate }}</ion-text>
        </span>
      </div>
    </ion-list-header>
    <ion-item detail="false" lines="none" class="native-color-row">
      <label slot="start" class="color-preview" [style.background]="qrColorDark">
        <input class="color-dot-input" type="color" [value]="qrColorDark" (input)="chooseQrColor($event, 'dark')">
      </label>
      <ion-label>{{ qrColorDark }}</ion-label>
      <ion-icon slot="end" name="color-palette-outline" color="primary"></ion-icon>
      <input class="native-color-input" type="color" [value]="qrColorDark"
        (input)="chooseQrColor($event, 'dark')" [attr.aria-label]="'COLOR' | translate">
    </ion-item>
  </div>

  <div class="ion-padding-bottom">
    <ion-list-header class="ion-margin-start ion-padding-horizontal" mode="md">
      <div class="d-flex justify-content-between align-items-center ion-margin-end ion-padding-end"
        style="width: 100%;">
        <span>
          <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'">{{ 'BACKGROUND_COLOR' | translate
            }}</ion-text>
        </span>
      </div>
    </ion-list-header>
    <ion-item detail="false" lines="none" class="native-color-row">
      <label slot="start" class="color-preview" [style.background]="qrColorLight">
        <input class="color-dot-input" type="color" [value]="qrColorLight" (input)="chooseQrColor($event, 'light')">
      </label>
      <ion-label>{{ qrColorLight }}</ion-label>
      <ion-icon slot="end" name="color-palette-outline" color="primary"></ion-icon>
      <input class="native-color-input" type="color" [value]="qrColorLight"
        (input)="chooseQrColor($event, 'light')" [attr.aria-label]="'BACKGROUND_COLOR' | translate">
    </ion-item>
  </div>

  <div class="ion-padding-bottom">
    <ion-list-header class="ion-margin-start ion-padding-horizontal" mode="md">
      <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'">{{ 'QR_FRAME' | translate }}</ion-text>
    </ion-list-header>
    <ion-item detail="false" lines="none" class="native-color-row">
      <label slot="start" class="color-preview" [style.background]="qrFrameColor">
        <input class="color-dot-input" type="color" [value]="env.qrCodeFrameColor" (input)="chooseFrameColor($event)">
      </label>
      <ion-label>{{ env.qrCodeFrameColor }}</ion-label>
      <ion-icon slot="end" name="color-palette-outline" color="primary"></ion-icon>
      <input class="native-color-input" type="color" [value]="env.qrCodeFrameColor"
        (input)="chooseFrameColor($event)" [attr.aria-label]="'QR_FRAME_COLOR' | translate">
    </ion-item>
    <ion-item lines="none">
      <ion-range min="0" max="24" step="1" [(ngModel)]="env.qrCodeFrameWidth" (ionChange)="saveFrameWidth()">
        <ion-label slot="start">{{ 'FRAME_WIDTH' | translate }}</ion-label>
        <ion-label slot="end">{{ env.qrCodeFrameWidth }}</ion-label>
      </ion-range>
    </ion-item>
    <ion-item lines="none">
      <ion-range min="0" max="100" step="5" [(ngModel)]="env.qrCodeFrameOpacity" (ionChange)="saveFrameOpacity()">
        <ion-label slot="start">{{ 'OPACITY' | translate }}</ion-label>
        <ion-label slot="end">{{ env.qrCodeFrameOpacity }} %</ion-label>
      </ion-range>
    </ion-item>
    <ion-note class="ion-padding-horizontal ion-margin-horizontal">{{ 'MSG.QR_FRAME_EXPLAIN' | translate }}</ion-note>
  </div>

  <div class="ion-padding-bottom">
    <ion-list-header class="ion-margin-start ion-padding-horizontal" mode="md"
      (click)="marginLocked = !marginLocked">
      <div class="d-flex justify-content-between align-items-center ion-margin-end ion-padding-end"
        style="width: 100%;">
        <span>
          <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'">{{ 'MARGIN' | translate }}</ion-text>
        </span>
        <ion-icon *ngIf="marginLocked" name="lock-closed" [color]="env.colorTheme === 'light'? 'dark' : 'light'">
        </ion-icon>
        <ion-icon *ngIf="!marginLocked" name="lock-open" [color]="env.colorTheme === 'light'? 'dark' : 'light'">
        </ion-icon>
      </div>
    </ion-list-header>
    <ion-item class="ion-no-padding" lines="none">
      <ion-range class="ion-margin-start ion-padding-horizontal" min="0" max="50" [(ngModel)]="env.qrCodeMargin"
        color="primary" (ionChange)="saveQrCodeMargin()" [disabled]="marginLocked">
        <ion-label slot="end">{{ env.qrCodeMargin }}</ion-label>
      </ion-range>
    </ion-item>
  </div>


</ion-content>

<ion-footer
  [ngStyle]="env.colorTheme === 'dark'?  {'background-color': '#222428'} : (env.colorTheme === 'black'? {'background-color': '#000000'} : {'background-color': '#F0F0F0'})"
  style="margin-bottom: var(--ion-safe-area-bottom, 0);">
  <ion-row class="d-flex justify-content-around">
    <ion-button (click)="tapHaptic(); resetDefault()" fill="clear">
      {{ 'RESET_DEFAULT' | translate }}
    </ion-button>
  </ion-row>
</ion-footer>
