<ion-header>
  <ion-toolbar [color]="env.colorTheme === 'black'? 'black' : 'dark'">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/setting">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ABOUT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="qrwerk-standard-page about-page">
  <div class="about-hero">
    <img class="about-logo" src="assets/img/round_icon.png" alt="QR Werk">
    <div class="about-credit">Original: Tom Fong</div>
    <div class="about-credit">iOS fork: Globi-vs-Globine</div>
  </div>
  <div class="py-2">
  </div>
  <ion-item button="true" class="qrwerk-settings-item" detail="false" lines="inset" (click)="showBarcodeType()">
    <ion-icon slot="start" [color]="'primary'" name="barcode-sharp">
    </ion-icon>
    <ion-label>
      <h2>
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'">
          {{ 'SUPPORTED_BARCODE_TYPE' | translate }}
        </ion-text>
      </h2>
    </ion-label>
  </ion-item>
  <ion-item button="true" class="qrwerk-settings-item" detail="false" lines="inset" (click)="showUpdateNotes()">
    <ion-icon slot="start" [color]="'primary'" src="assets/icon/patch-update.svg">
    </ion-icon>
    <ion-label>
      <h2>
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'">
          {{ 'PATCH_NOTES' | translate }}
        </ion-text>
      </h2>
    </ion-label>
  </ion-item>
  <ion-item button="true" class="qrwerk-settings-item" detail="false" lines="inset" (click)="openRepoUrl()">
    <ion-icon slot="start" [color]="'primary'" name="logo-github">
    </ion-icon>
    <ion-label>
      <h2>
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'">
          {{ 'VIEW_GITHUB' | translate }}
        </ion-text>
      </h2>
    </ion-label>
  </ion-item>
  <ion-item class="qrwerk-settings-item" detail="false" lines="inset" [disabled]="true">
    <ion-icon slot="start" [color]="'primary'" name="bug">
    </ion-icon>
    <ion-label>
      <h2>
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'">
          {{ 'REPORT_ISSUE' | translate }} ({{ 'NOT_AVAILABLE' | translate }})
        </ion-text>
      </h2>
    </ion-label>
  </ion-item>
  <ion-item button="true" class="qrwerk-settings-item" detail="false" lines="inset" (click)="viewPrivacyPolicy()">
    <ion-icon slot="start" [color]="'primary'" name="document-text-sharp">
    </ion-icon>
    <ion-label>
      <h2>
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'">
          {{ 'PRIVACY_POLICY' | translate }}
        </ion-text>
      </h2>
    </ion-label>
  </ion-item>
  <ion-item button="true" class="qrwerk-settings-item" detail="false" lines="none" (click)="viewLicense()">
    <ion-icon slot="start" [color]="'primary'" name="document-text-outline">
    </ion-icon>
    <ion-label>
      <h2>
        <ion-text [color]="env.colorTheme === 'light'? 'dark' : 'light'">
          {{ 'OPEN_SOURCE_LICENSE' | translate }}
        </ion-text>
      </h2>
    </ion-label>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar mode="ios" class="ion-text-center" color="primary">
    <div (click)="tapAppVersion()">
      <span>{{ ('APP_VERSION' | translate) + ' ' + env.appVersionNumber }}</span>
    </div>
  </ion-toolbar>
</ion-footer>
