<ion-header>
  <ion-toolbar [color]="env.colorTheme === 'black'? 'black' : 'dark'">
    <ion-buttons slot="start"><ion-back-button text="" defaultHref="tabs/setting"></ion-back-button></ion-buttons>
    <ion-title>{{ 'APPEARANCE_AND_COLORS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="qrwerk-settings-page appearance-settings-page">
  <section class="qrwerk-settings-section">
    <ion-list-header><ion-label class="qrwerk-section-title">{{ 'APPEARANCE' | translate }}</ion-label></ion-list-header>
    <ion-list class="qrwerk-settings-list">
      <ion-radio-group [(ngModel)]="env.selectedColorTheme" (ionChange)="saveColorTheme()">
        <ion-item *ngFor="let theme of colorThemes; let last = last" button="true" class="qrwerk-settings-item"
          detail="false" [lines]="last ? 'none' : 'inset'" (click)="env.selectedColorTheme = theme.value; saveColorTheme()">
          <ion-label><h2>{{ theme.label | translate }}</h2></ion-label>
          <ion-radio slot="end" [value]="theme.value" color="primary"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </section>

  <section class="qrwerk-settings-section">
    <ion-list-header><ion-label class="qrwerk-section-title">{{ 'ACCENT_COLOR' | translate }}</ion-label></ion-list-header>
    <ion-list class="qrwerk-settings-list">
      <ion-radio-group [(ngModel)]="env.accentColor" (ionChange)="saveAccentColor()">
        <ion-item *ngFor="let accent of accentColors" button="true" class="qrwerk-settings-item" detail="false"
          lines="inset" (click)="env.accentColor = accent.value; saveAccentColor()">
          <span slot="start" class="accent-swatch" [style.background]="accent.hex" aria-hidden="true"></span>
          <ion-label><h2>{{ accent.label | translate }}</h2></ion-label>
          <ion-radio slot="end" [value]="accent.value" color="primary"></ion-radio>
        </ion-item>
        <ion-item button="true" detail="false" lines="none" class="qrwerk-settings-item custom-color-row">
          <label slot="start" class="accent-swatch" [style.background]="env.customAccentColor">
            <input class="color-dot-input" type="color" [value]="env.customAccentColor"
              (input)="chooseCustomAccentColor($event)" [attr.aria-label]="'CHOOSE_CUSTOM_COLOR' | translate">
          </label>
          <ion-label><h2>{{ 'CHOOSE_CUSTOM_COLOR' | translate }}</h2></ion-label>
          <ion-radio slot="end" value="custom" color="primary"></ion-radio>
          <input class="native-color-input" type="color" [value]="env.customAccentColor"
            (input)="chooseCustomAccentColor($event)" [attr.aria-label]="'CHOOSE_CUSTOM_COLOR' | translate">
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </section>

  <section class="qrwerk-settings-section">
    <ion-list-header><ion-label class="qrwerk-section-title">{{ 'START_AND_NAVIGATION' | translate }}</ion-label></ion-list-header>
    <ion-list class="qrwerk-settings-list">
      <ion-item class="qrwerk-settings-item" lines="inset">
        <ion-icon slot="start" color="primary" name="home-outline"></ion-icon>
        <ion-select label="{{ 'DEFAULT_START_PAGE' | translate }}" label-placement="stacked" interface="popover"
          [(ngModel)]="env.startPage" (ionChange)="saveStartPage()">
          <ion-select-option value="/tabs/scan">{{ 'SCAN' | translate }}</ion-select-option>
          <ion-select-option value="/tabs/history">{{ historyStartLabel | translate }}</ion-select-option>
          <ion-select-option value="/tabs/generate">{{ 'CREATE' | translate }}</ion-select-option>
          <ion-select-option value="/tabs/setting">{{ 'SETTINGS' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="qrwerk-settings-item" lines="none">
        <ion-icon slot="start" color="primary" src="assets/icon/history.svg"></ion-icon>
        <ion-select label="{{ 'HISTORY_DEFAULT_VIEW' | translate }}" label-placement="stacked" interface="popover"
          [(ngModel)]="env.historyPageStartSegment" (ionChange)="saveHistoryPageStartSegment()">
          <ion-select-option value="history">{{ 'LOG' | translate }}</ion-select-option>
          <ion-select-option value="bookmarks">{{ 'BOOKMARKS' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </section>
</ion-content>
