<ion-header class="ion-no-border">
  @if (env.startPage == '/tabs/scan' && env.startPageHeader == 'on') {
  <ion-toolbar>
    <ion-title [color]="'white'">{{ 'SIMPLE_QR' | translate}}</ion-title>
  </ion-toolbar>
  } @else {
  <ion-toolbar>
    <ion-title [color]="'white'">{{ 'SCAN' | translate }}</ion-title>
  </ion-toolbar>
  }
</ion-header>

<ion-content #content class="ion-no-border" [class.native-scanner-active]="nativeScannerActive">
  @if (usesNativeScanner) {
  <div class="native-scanner-launcher">
    <img class="qrwerk-launcher-logo" src="assets/img/round_icon.png" alt="QR Werk">
    <div class="native-scanner-actions">
      <ion-button size="large" (click)="tapHaptic(); scanUsingNativeInterface()">
        <ion-icon slot="start" name="camera-outline"></ion-icon>
        {{ 'SCAN_BY_CAMERA' | translate }}
      </ion-button>
      <ion-button size="large" fill="outline" (click)="tapHaptic(); scanBatchUsingNativeInterface()">
        <ion-icon slot="start" name="scan-outline"></ion-icon>
        {{ 'BATCH_SCAN' | translate }}
      </ion-button>
      <ion-button size="large" fill="outline" (click)="tapHaptic(); scanFromImage()">
        <ion-icon slot="start" name="image-outline"></ion-icon>
        {{ 'IMPORT_IMAGE' | translate }}
      </ion-button>
    </div>
  </div>
  } @else {
  <div #square class="square"></div>
  @if (minZoomRatio !== undefined && maxZoomRatio !== undefined) {
  <div class="zoom-ratio-wrapper">
    <ion-range [min]="minZoomRatio" [max]="maxZoomRatio" [(ngModel)]="zoomRatio"
      [disabled]="minZoomRatio === undefined || maxZoomRatio === undefined"
      (ionInput)="setZoomRatio($any($event))"></ion-range>
  </div>
  }
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" class="ion-no-border">
    <ion-fab-button (click)="tapHaptic(); scanFromImage()">
      <ion-icon name="image" [color]="'white'"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  @if (isTorchAvailable) {
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-no-border">
    <ion-fab-button (click)="tapHaptic(); toggleFlash()">
      <ion-icon name="flashlight" [color]="flashActive? 'warning' : 'white'"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }
  }
</ion-content>
