<ion-header>
  <ion-toolbar mode="ios" [color]="color">
    <ion-buttons slot="start">
      <ion-button (click)="tapHaptic(); close()" fill="clear" [attr.aria-label]="'CLOSE' | translate">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="tapHaptic(); shareQrCode()" fill="clear" [color]="'primary'">
        {{ 'SHARE' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [color]="color">
  <div class="d-flex align-items-center justify-content-top flex-column" style="height: 100%;">
    <ion-row>
      <ion-col class="ion-text-center ion-padding" style="max-width: 100% !important;">
        <div class="qr-frame" [style.padding.px]="env.qrCodeFrameWidth" [style.background]="qrFrameColor"
          [hidden]="isSharing">
          <qrcode [elementType]="qrElementType" [qrdata]="qrCodeContent" [width]="defaultWidth"
            [errorCorrectionLevel]="errorCorrectionLevel" [colorDark]="qrColorDark" [colorLight]="qrColorLight"
            [margin]="env.qrCodeMargin" #qrcode>
          </qrcode>
        </div>
        <div class="d-flex flex-column align-items-center" *ngIf="isSharing">
          <ion-spinner class="my-3"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="max-width: 300px;">
      <ion-col class="ion-text-center">
        <span class="qr-code">
          {{ qrCodeContent }}
        </span>
      </ion-col>
    </ion-row>
    <div class="correction-picker px-4">
      <div class="correction-heading">
        <ion-text>{{ 'ERROR_CORRECTION_LEVEL' | translate }}</ion-text>
        <ion-button fill="clear" size="small" (click)="showErrorCorrectionInfo()"
          [attr.aria-label]="'MORE_INFO' | translate">
          <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
        </ion-button>
      </div>
      <ion-segment [(ngModel)]="env.errorCorrectionLevel" (ionChange)="onErrorCorrectionLevelChange()" mode="ios">
        <ion-segment-button value="L"><ion-label>L</ion-label></ion-segment-button>
        <ion-segment-button value="M"><ion-label>M</ion-label></ion-segment-button>
        <ion-segment-button value="Q"><ion-label>Q</ion-label></ion-segment-button>
        <ion-segment-button value="H"><ion-label>H</ion-label></ion-segment-button>
      </ion-segment>
    </div>
    <ion-row class="pt-3 px-4" style="width: 100%;">
      <ion-button class="pt-2 ion-margin-bottom" fill="clear" (click)="goQrSetting()" color="primary">
        {{ 'QR_CODE_STYLE' | translate }}
      </ion-button>
    </ion-row>
  </div>
</ion-content>
